* {
    box-sizing: border-box;
  }
html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  background-color: grey;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 150px 100px 100px 100px 100px 100px 100px 100px 100px 100px 150px ;
  grid-template-rows: 150px 100px 100px 100px 100px 100px 100px 100px 100px 100px 150px;
  background-color: #C7F0C7;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: auto;
  text-align: center;
}

/*
.grid-item:hover {
  border: 1px solid #fff;
}*/

.center{
    grid-column: 2 / 11;
    grid-row: 2 / 11;
}
.first {
    grid-column: 1;
}

.enlarge-color {
	background: white;
	width: 100%;
	height: 40px;
}

.celula-anchor {
  display:flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}



.celula-oeste {
  cursor: pointer;
  flex-direction: row;
}

.celula-leste {
  cursor: pointer;
  flex-direction: row-reverse;
}

.celula-norte {
  cursor: pointer;
  flex-direction: column;
}

.celula-sul {
  cursor: pointer;
  flex-direction: column-reverse;
}



.celula-vertical .celula-cor {
  height: 98px;
  width: 40px;
}

.celula-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.celula-vertical .celula-cor .enlarge-color {
  width: 40px;
  height: 98px;
}

.celula-vertical .celula-cor .enlarge-color {
  width: 40px;
  height: 98px;
}


.celula-img{
  height: 50%;
}

.celula-img img{
  height: 40px;
}

.celula-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.limit-col {
  display: flex;
  
}

.token-jogador {
  height: 50px;
  width: 50px;
}